<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Blog</h1>
    </header>
    <main>
        <div class="actions">
            <button onclick="window.location.href='/create '">Create Blog</button>
            <button onclick="window.location.href='/titles'">View Blog</button>
            <button onclick="window.location.href='/titles_for_delete'">Delete Blog</button>
        </div>
    </main>
</body>
</html>
